<div #galleryContainer class="galleryContainer">
    <div class="innerGalleryContainer">
        <div *ngFor='let imgrow of gallery; let i = index'
             class="imagerow"
             [style.margin-bottom.px]="calcImageMargin()">
            <div *ngFor='let img of imgrow; let j = index'>
                <!--<div *ngif="img['mediatype']=='image'">-->
                <img *ngIf="img['mediatype'] == 'image'"
                     class="thumbnail"
                     [style.width.px]="img['width']"
                     [style.height.px]="img['height']"
                     (click)="openImageViewer(img)"
                     [src]="img['srcAfterFocus']"
                     [style.background]="img.dominantColor"
                     [style.margin-right.px]="calcImageMargin()"/>
                <video *ngIf="img['mediatype'] == 'video'" preload="auto" height="100%" width="100%"
                       controls="controls">
                    <source type="video/webm"
                            src="https://dl.dropboxusercontent.com/u/23979348/spring_static/vid/Zero-kMayhem-Dirtbag-YouTube_360p.webm">
                    <source type="video/mp4"
                            src="https://dl.dropboxusercontent.com/u/23979348/spring_static/vid/Zero-kMayhem-Dirtbag-YouTube_360p.mp4">
                    Your browser does not support the video tag. Find out if your Browser is supported at
                    www.w3schools.com/tags/tag_video.asp
                </video>
            </div>

            <!--<img #imageElement-->
            <!--*ngFor='let img of imgrow; let j = index'-->
            <!--class="thumbnail"-->
            <!--[style.width.px]="img['width']"-->
            <!--[style.height.px]="img['height']"-->
            <!--(click)="openImageViewer(img)"-->
            <!--[src]="img['srcAfterFocus']"-->
            <!--[style.background]="img.dominantColor"-->
            <!--[style.margin-right.px]="calcImageMargin()"/>-->
        </div>
    </div>
</div>

<viewer></viewer>
